<html>

<head>
    <meta charset="UTF-8">
    <style>
        .heater-input {
            margin-bottom: 10px;
        }

        .configuration-container {
            margin-top: 50px;
        }

        .configuration-container .form-control {
            margin-bottom: 10px;
        }

        .row+.row {
            margin-top: 1rem;
        }

        .range-slider {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .heater-input-submit {
            margin-top: 1rem;
        }

        .input-group-text {
            min-width: 100px;
        }

        [v-cloak] {
            display: none;
        }

        /* The switch - the box around the slider */
        .card-body {
            text-align: center;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 68px;
        }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 52px;
            width: 52px;
            left: 8px;
            bottom: 8px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(52px);
            -ms-transform: translateX(52px);
            transform: translateX(52px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-i18n@8.27.1/dist/vue-i18n.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>
    <script src="https://unpkg.com/vue-i18n@8.27.1/dist/vue-i18n.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <div class="container-fluid" v-cloak>
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">OpenStill</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav  dropdown-menu-right">
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ $t("language") }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#" v-on:click="pl">pl</a>
                                        <a class="dropdown-item" href="#" v-on:click="en">en</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>


            </div>

            <div class="row">
                <div class="col">
                    <div class="card-deck mb-12 text-center">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ $t("shelf") }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ shelf10 }} <small
                                        class="text-muted">°C</small>
                                    <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-up"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z" />
                                    </svg>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
                                    </svg> -->
                                </h1>
                            </div>
                        </div>
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ $t("header") }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ header }} <small
                                        class="text-muted">°C</small>
                                </h1>
                            </div>
                            <div v-if="headerAbv > 0" class="card-footer text-muted">
                                {{ headerAbv }}%
                            </div>
                        </div>
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ $t("tank") }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ tank }} <small
                                        class="text-muted">°C</small>
                                </h1>
                            </div>

                            <div v-if="tankAbw > 0" class="card-footer text-muted">
                                {{ tankAbw }}L
                            </div>
                        </div>
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ $t("water") }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ water }} <small
                                        class="text-muted">°C</small>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ $t("heater") }}</h4>
                        </div>
                        <div class="card-body">
                            <h1 class="card-title pricing-card-title">{{ heater }} <small class="text-muted">%</small>
                            </h1>
                        </div>
                        <input class="form-control heater-input" type="number" id="setHeater" v-model="setHeater">
                        <input v-on:click="updateHeater" type="button" :value="$t('set')"
                            class="heater-input-submit form-control heater-input btn btn-primary btn-lg btn-block" />
                        <input type="range" min="0" max="100" v-model="setHeater"
                            class="form-control heater-input range-slider">

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ $t("heater") }} 2</h4>
                        </div>
                        <div class="card-body">
                            <label class="switch">
                                <input type="checkbox" v-model="heater2State" v-on:change="setHeater2">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ $t("heater") }} 3</h4>
                        </div>
                        <div class="card-body">
                            <label class="switch">
                                <input type="checkbox" v-model="heater3State" v-on:change="setHeater3">
                                <span class="slider round"></span>
                            </label>
                        </div>
                        <!-- Default switch -->
                        

                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card-deck mb-12 text-center">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ $t("weight") }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ weight }} <small
                                        class="text-muted">g</small>
                                </h1>
                                <h3 class="pricing-card-title">( {{ flowRate }} <small class="text-muted">g/min </small>)
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div>
                <canvas id="myChart" width="400" height="200"></canvas>
            </div>

            <div class="configuration-container container-fluid" id="config">
                <div class="row">
                    <div class="col">
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target="#sensor" aria-expanded="false" aria-controls="sensor"
                            v-on:click="refreshSensors">
                            {{ $t("thermometers") }}
                        </button>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target="#limity" aria-expanded="false" aria-controls="limity">
                            {{ $t("limits") }}
                        </button>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target="#notifications" aria-expanded="false" aria-controls="notifications">
                            {{ $t("notifications") }}
                        </button>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target="#temperaturaDnia" aria-expanded="false" aria-controls="temperaturaDnia">
                            {{ $t("tempOfTheDay") }}
                        </button>
                        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse"
                            data-target="#zmienne" aria-expanded="false" aria-controls="zmienne">
                            {{ $t("settings") }}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="collapse col" id="sensor" data-parent="#config">
                            <div class="card card-body container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <select v-model="shelf10Device" class="form-control form-control-lg">
                                            <option disabled value="">{{ $t("shelf") }}</option>
                                            <option v-for="option in sensorOptions" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select v-model="headerDevice" class="form-control form-control-lg">
                                            <option disabled value="">{{ $t("header") }}</option>
                                            <option v-for="option in sensorOptions" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select v-model="tankDevice" class="form-control form-control-lg">
                                            <option disabled value="">{{ $t("tank") }}</option>
                                            <option v-for="option in sensorOptions" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select v-model="waterDevice" class="form-control form-control-lg">
                                            <option disabled value="">{{ $t("water") }}</option>
                                            <option v-for="option in sensorOptions" v-bind:value="option.value">
                                                {{ option.text }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input v-on:click="updateSensors" type="button" :value="$t('set')"
                                            class="form-control heater-input btn btn-primary btn-lg btn-block" />
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="collapse" id="limity" data-parent="#config">
                            <div class="card card-body container-fluid">

                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("shelf") }}</span>
                                            </div>
                                            <input class="form-control" v-model="shelf10TemperatureLimit" type="number"
                                                step="0.01">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setShelf10TemperatureLimit">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("header") }}</span>
                                            </div>
                                            <input class="form-control" v-model="headerTemperatureLimit" type="number"
                                                step="0.01">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setHeaderTemperatureLimit">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("tank") }}</span>
                                            </div>
                                            <input class="form-control" v-model="tankTemperatureLimit" type="number"
                                                step="0.01">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setTankTemperatureLimit">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("water") }}</span>
                                            </div>
                                            <input class="form-control" v-model="waterTemperatureLimit" type="number"
                                                step="0.01">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setWaterTemperatureLimit">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="collapse" id="notifications" data-parent="#config">
                            <div class="card card-body container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                    <div class="col-md-4">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("shelf") }}</span>
                                            </div>
                                            <input class="form-control" v-model="shelf10TemperatureNotification"
                                                step="0.01" type="number">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setShelf10TemperatureNotification">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("header") }}</span>
                                            </div>
                                            <input class="form-control" v-model="headerTemperatureNotification"
                                                step="0.01" type="number">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setHeaderTemperatureNotification">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("tank") }}</span>
                                            </div>
                                            <input class="form-control" v-model="tankTemperatureNotification"
                                                step="0.01" type="number">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setTankTemperatureNotification">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("water") }}</span>
                                            </div>
                                            <input class="form-control" v-model="waterTemperatureNotification"
                                                step="0.01" type="number">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setWaterTemperatureNotification">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("scaleWeightNotification") }} (g)</span>
                                            </div>
                                            <input class="form-control" v-model="scaleWeightNotification" type="number"
                                                step="1">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button"
                                                    v-on:click="setscaleWeightNotification">{{ $t("set") }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="collapse" id="temperaturaDnia" data-parent="#config">
                            <div class="card card-body container-fluid">

                                <div class="row">
                                    <div class="input-group col-md-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ $t("tempOfTheDay") }}</span>
                                        </div>
                                        <input class="form-control" v-model="tempOfTheDay" type="number" step="0.01">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setTempOfTheDay">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-group col-md-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ $t("tempOfTheDayDeviation") }}</span>
                                        </div>
                                        <input class="form-control" v-model="tempOfTheDayDeviation" type="number"
                                            step="0.01">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setTempOfTheDayDeviation">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-4">
                                        <div class="input-group-prepend">
                                            <span
                                                class="input-group-text">{{ $t("tempOfTheDayNotificationDelay") }}</span>
                                        </div>
                                        <input class="form-control" v-model="tempOfTheDayNotificationDelayInSeconds"
                                            type="number">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setTempOfTheDayNotificationDelayInSeconds">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="collapse" id="zmienne" data-parent="#config">
                            <div class="card card-body container-fluid">

                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary btn-lg" v-on:click="getCsv">
                                            {{ $t("getCsv") }}</button>
                                        <button type="button" class="btn btn-link" v-on:click="clearCsv">
                                            {{ $t("resetCsv") }}</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> {{ $t("tankSize") }} (l)</span>
                                        </div>
                                        <input class="form-control" v-model="tankSize" type="number">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setTankSize">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> {{ $t("csvTimeFrame") }}</span>
                                        </div>
                                        <input class="form-control" v-model="csvTimeFrameInSeconds" type="number">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setCsvTimeFrameInSeconds">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"> {{ $t("wifiSsid") }}</span>
                                        </div>
                                        <input class="form-control" v-model="wifiSsid" type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setWifiSsid">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ $t("wifiPassword") }}</span>
                                        </div>
                                        <input class="form-control" v-model="wifiPassword" type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setWifiPassword">{{ $t("set") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <a href="https://www.pushsafer.com/">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">{{ $t("pushCode") }}</span>
                                            </div>
                                        </a>
                                        <input class="form-control" v-model="pushNotificationCode" type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="setPushNotificationCode">{{ $t("set") }}</button>
                                        </div>
                                        <div class="ml-2">
                                            <button class="btn btn-secondary" type="button"
                                                v-on:click="testPushNotificationCode">{{ $t("test") }}</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{{ $t("scaleOffset") }}</span>
                                        </div>
                                        <input class="form-control" v-model="scaleOffset" type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button"
                                                v-on:click="updateScaleOffset">{{ $t("set") }}</button>
                                        </div>
                                        <div class="ml-2">
                                            <button class="btn btn-secondary" type="button"
                                                v-on:click="tareScale">{{ $t("tare") }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

        </div>


    </div>


    <script type="module">

        Vue.use(VueI18n)

        var i18n = new VueI18n({
            locale: 'pl',
            messages: {
                en: {
                    language: 'Język',
                    shelf: 'Shelf (10)',
                    header: 'Header',
                    tank: 'Tank',
                    water: 'Water',
                    heater: "Heater",
                    set: "Set",
                    notifications: "Notifications",
                    wifiPassword: "Wifi password",
                    pushCode: "Push code",
                    test: "Test",
                    tempOfTheDay: "Temp of the day (10 shelf)",
                    tempOfTheDayDeviation: "Allowed deviation",
                    tempOfTheDayNotificationDelay: "Notification delay (s)",
                    thermometers: "Thermometers",
                    limits: "Limits",
                    settings: "Settings",
                    getCsv: "Get CSV",
                    tankSize: "Tank load (L)",
                    resetCsv: "Reset CSV",
                    csvTimeFrame: "CSV time frame (s)",
                    wifiSsid: "Wifi SSID",
                    on: "On",
                    off: "Off",
                    scaleOffset: "Scale offset",
                    scaleWeightNotification: "Weight",
                    tare: "Tare",
                    weight: "Weight"
                },
                pl: {
                    language: 'Language',
                    shelf: 'Półka (10)',
                    header: 'Głowica',
                    tank: 'Zbiornik',
                    water: 'Woda',
                    heater: "Grzałka",
                    set: "Ustaw",
                    notifications: "Powiadomienia",
                    wifiPassword: "Hasło Wifi",
                    pushCode: "Kod Push",
                    test: "Test",
                    tempOfTheDay: "Temperatura dnia (10P)",
                    tempOfTheDayDeviation: "Dozwolona odchyłka",
                    tempOfTheDayNotificationDelay: "Częstotliwość powiadomień (s)",
                    thermometers: "Termometry",
                    limits: "Limity",
                    settings: "Ustawienia",
                    getCsv: "Pobierz CSV",
                    tankSize: "Ilość wsadu (L)",
                    resetCsv: "Wyczyść CSV",
                    csvTimeFrame: "Częstotliwość CSV (s)",
                    wifiSsid: "Wifi nazwa",
                    on: "On",
                    off: "Off",
                    scaleOffset: "Współczynnik wagi",
                    scaleWeightNotification: "Waga",
                    tare: "Taruj",
                    weight: "Waga"
                }
            }
        })

        var timeFormat = 'HH:mm:ss';

        var config = {
            type: 'line',
            data: {
                datasets: [
                    {
                        label: i18n.t('shelf'),
                        data: [],
                        fill: false,
                        borderColor: 'red'
                    },
                    {
                        label: i18n.t('header'),
                        data: [],
                        fill: false,
                        borderColor: 'blue'
                    },
                    {
                        label: i18n.t('tank'),
                        data: [],
                        fill: false,
                        borderColor: 'green'
                    },
                    {
                        label: i18n.t('water'),
                        data: [],
                        fill: false,
                        borderColor: 'black'
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    xAxes: [{
                        type: "time",
                        distribution: 'series',
                        time: {
                            tooltipFormat: timeFormat,
                            displayFormats: {
                                second: timeFormat,
                                millisecond: timeFormat,
                                minute: timeFormat

                            }
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Czas'
                        }
                    }],
                    yAxes: [{
                        scaleLabel: {
                            display: true,
                            labelString: 'Temperatura'
                        }
                    }]
                }
            }
        };

        window.onload = function () {
            var ctx = document.getElementById("myChart").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };

        var app = new Vue({
            i18n: i18n,
            el: '#app',
            data: {
                shelf10: 0,
                header: 0,
                tank: 0,
                water: 0,
                heater: 0,
                setHeater: "",
                lastReadTime: 0,
                shelf10Device: "",
                headerDevice: "",
                tankDevice: "",
                waterDevice: "",
                shelf10TemperatureLimit: 0,
                headerTemperatureLimit: 0,
                tankTemperatureLimit: 0,
                waterTemperatureLimit: 0,
                shelf10TemperatureNotification: 0,
                headerTemperatureNotification: 0,
                tankTemperatureNotification: 0,
                waterTemperatureNotification: 0,
                sensorOptions: [],
                tankSize: 0,
                csvTimeFrameInSeconds: 0,
                tankAbw: 0,
                headerAbv: 0,
                pushNotificationCode: "",
                tempOfTheDayDeviation: 0,
                tempOfTheDayNotificationDelayInSeconds: 0,
                tempOfTheDay: 0,
                wifiSsid: "",
                wifiPassword: "",
                heater2State: false,
                heater3State: false,
                scaleOffset: 0.0,
                scaleWeightNotification: 0,
                weight: 0,
                flowRate: 0
            },
            mounted: function () {
                this.interval = setInterval(() => {
                    axios
                        .get('/data')
                        .then(response => {

                            this.shelf10 = response.data.shelf10;
                            this.header = response.data.header;
                            this.tank = response.data.tank;
                            this.water = response.data.water;
                            this.heater = response.data.heater;
                            this.tankAbw = response.data.tankAbw;
                            this.headerAbv = response.data.headerAbv;
                            this.heater2State = response.data.heater2 > 0 ? true : false;
                            this.heater3State = response.data.heater3 > 0 ? true : false;
                            this.weight =  Math.round(response.data.weight);
                            this.flowRate =  Math.round(response.data.flowRate);

                            if (!this.setHeater) {
                                this.setHeater = this.heater
                            }

                            var currentTime = (new Date()).getTime();
                            if (this.lastReadTime == 0 || (currentTime - this.lastReadTime) > 5000) {
                                if (window.myLine.data.datasets[0].data.length > 100) {
                                    window.myLine.data.datasets[0].data.shift()
                                }
                                if (window.myLine.data.datasets[1].data.length > 100) {
                                    window.myLine.data.datasets[1].data.shift()
                                }
                                if (window.myLine.data.datasets[2].data.length > 100) {
                                    window.myLine.data.datasets[2].data.shift()
                                }
                                if (window.myLine.data.datasets[3].data.length > 100) {
                                    window.myLine.data.datasets[3].data.shift()
                                }


                                window.myLine.data.datasets[0].data.push({
                                    x: new Date(), y: this.shelf10
                                });

                                window.myLine.data.datasets[1].data.push({
                                    x: new Date(), y: this.header
                                });

                                window.myLine.data.datasets[2].data.push({
                                    x: new Date(), y: this.tank
                                });

                                window.myLine.data.datasets[3].data.push({
                                    x: new Date(), y: this.water
                                });

                                this.lastReadTime = currentTime;
                            }



                            window.myLine.update();
                        });
                }, 1000);

                this.refreshOtherConfiguration();
                this.refreshSensors();
                this.refreshLimits();
                this.refreshNotifications();
            },
            methods: {
                updateScaleOffset: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                scaleOffset: this.scaleOffset
                            }
                        })
                },
                updateHeater: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                heater: this.setHeater
                            }
                        })
                },
                setWifiSsid: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                wifiSsid: this.wifiSsid
                            }
                        })
                },
                setWifiPassword: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                wifiPassword: this.wifiPassword
                            }
                        })
                },
                setPushNotificationCode: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                pushNotificationCode: this.pushNotificationCode
                            }
                        })
                },
                setTempOfTheDay: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                tempOfTheDay: this.tempOfTheDay
                            }
                        })
                },
                setTempOfTheDayNotificationDelayInSeconds: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                tempOfTheDayNotificationDelayInSeconds: this.tempOfTheDayNotificationDelayInSeconds
                            }
                        })
                },
                setTempOfTheDayDeviation: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                tempOfTheDayDeviation: this.tempOfTheDayDeviation
                            }
                        })
                },
                setTankSize: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                tankSize: this.tankSize
                            }
                        })
                },
                setCsvTimeFrameInSeconds: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                csvTimeFrameInSeconds: this.csvTimeFrameInSeconds
                            }
                        })
                },
                setHeater3: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                heater3: this.heater3State ? 1 : 0
                            }
                        })
                },
                setHeater2: function (event) {
                    axios
                        .get('/set', {
                            params: {
                                heater2: this.heater2State ? 1 : 0
                            }
                        })
                },
                updateSensors: function (event) {
                    axios
                        .get('/setDevices', {
                            params: {
                                shelf10Device: this.shelf10Device,
                                headerDevice: this.headerDevice,
                                tankDevice: this.tankDevice,
                                waterDevice: this.waterDevice,
                            }
                        })
                },
                setShelf10TemperatureLimit: function (event) {
                    axios
                        .get('/setLimits', {
                            params: {
                                shelf10TemperatureLimit: this.shelf10TemperatureLimit
                            }
                        })
                },
                setscaleWeightNotification: function (event) {
                    axios
                        .get('/setLimits', {
                            params: {
                                scaleWeightNotification: this.scaleWeightNotification
                            }
                        })
                },
                setHeaderTemperatureLimit: function (event) {
                    axios
                        .get('/setLimits', {
                            params: {
                                headerTemperatureLimit: this.headerTemperatureLimit
                            }
                        })
                },
                setTankTemperatureLimit: function (event) {
                    axios
                        .get('/setLimits', {
                            params: {
                                tankTemperatureLimit: this.tankTemperatureLimit
                            }
                        })
                },
                setWaterTemperatureLimit: function (event) {
                    axios
                        .get('/setLimits', {
                            params: {
                                waterTemperatureLimit: this.waterTemperatureLimit
                            }
                        })
                },
                setShelf10TemperatureNotification: function (event) {
                    axios
                        .get('/setNotifications', {
                            params: {
                                shelf10TemperatureNotification: this.shelf10TemperatureNotification
                            }
                        })
                },
                setHeaderTemperatureNotification: function (event) {
                    axios
                        .get('/setNotifications', {
                            params: {
                                headerTemperatureNotification: this.headerTemperatureNotification
                            }
                        })
                },
                setTankTemperatureNotification: function (event) {
                    axios
                        .get('/setNotifications', {
                            params: {
                                tankTemperatureNotification: this.tankTemperatureNotification
                            }
                        })
                },
                setWaterTemperatureNotification: function (event) {
                    axios
                        .get('/setNotifications', {
                            params: {
                                waterTemperatureNotification: this.waterTemperatureNotification
                            }
                        })
                },
                refreshSensors: function (event) {
                    axios
                        .get('/sensors')
                        .then(response => {
                            this.sensorOptions = response.data;
                        });
                },
                refreshLimits: function (event) {
                    axios
                        .get('/limitsData')
                        .then(response => {
                            this.shelf10TemperatureLimit = response.data.shelf10TemperatureLimit;
                            this.headerTemperatureLimit = response.data.headerTemperatureLimit;
                            this.tankTemperatureLimit = response.data.tankTemperatureLimit;
                            this.waterTemperatureLimit = response.data.waterTemperatureLimit;
                        });
                },
                refreshNotifications: function (event) {
                    axios
                        .get('/notificationsData')
                        .then(response => {
                            this.shelf10TemperatureNotification = response.data.shelf10TemperatureNotification;
                            this.headerTemperatureNotification = response.data.headerTemperatureNotification;
                            this.tankTemperatureNotification = response.data.tankTemperatureNotification;
                            this.waterTemperatureNotification = response.data.waterTemperatureNotification;
                            this.scaleWeightNotification = response.data.scaleWeightNotification;
                        });
                },
                refreshOtherConfiguration: function (event) {
                    axios
                        .get('/otherConfiguration')
                        .then(response => {
                            this.tankSize = response.data.tankSize;
                            this.csvTimeFrameInSeconds = response.data.csvTimeFrameInSeconds;
                            this.pushNotificationCode = response.data.pushNotificationCode;

                            this.tempOfTheDayDeviation = response.data.tempOfTheDayDeviation;
                            this.tempOfTheDayNotificationDelayInSeconds = response.data.tempOfTheDayNotificationDelayInSeconds;
                            this.tempOfTheDay = response.data.tempOfTheDay;

                            this.wifiSsid = response.data.wifiSsid;
                            this.wifiPassword = response.data.wifiPassword;

                            this.scaleOffset = response.data.scaleOffset;
                        });
                },
                testPushNotificationCode: function (event) {
                    axios
                        .get('/notificationTest');
                },
                tareScale: function (event) {
                    axios
                        .get('/tareScale');
                },
                clearCsv: function (event) {
                    if (confirm("Na pewno chcesz wyzerować plik?")) {
                        axios
                            .get('/clearCsv');
                    }
                },
                getCsv: function (event) {
                    window.location.href = "/csv";
                },
                pl: function (event) {
                    i18n.locale = "pl";
                },
                en: function (event) {
                    i18n.locale = "en";
                },
            }
        });


    </script>

</body>

</html>
